@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";

@plugin "daisyui" {
  themes: all;
}

@font-face {
  font-family: "American Typewriter";
  src: local("American Typewriter");
}

@layer base {
  body {
    font-family:
      monospace,
      -apple-system,
      system-ui,
      sans-serif;
  }
}
