@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";

@plugin "daisyui" {
  themes: all;
}

@layer base {
  body {
    @apply antialiased;
    font-family:
      "Lexend",
      -apple-system,
      system-ui,
      sans-serif;
  }
}

.deck {
  @apply bg-base-100 rounded-box border-base-300 cursor-pointer border-2 transition-all duration-300 hover:rotate-[1deg];
  transform-origin: bottom right;
}
