@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";

@plugin "daisyui" {
  themes: all;
}

:root {
  --font-sans: "Lexend", -apple-system, system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased;
    font-family: var(--font-sans);
  }
}

.deck {
  @apply bg-base-100 rounded-box border-base-300 cursor-pointer border-2 transition-all duration-300 hover:rotate-[1deg];
  transform-origin: bottom right;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-accent) var(--color-base-100) !important;
}

.btn {
  &:active {
    scale: 0.9;
  }
}

.btn {
  box-shadow: 0 4px 0px 0 var(--btn-border);
}
